[PostgreSQL-odoo-barrier]
Description         = PostgreSQL connection to barrier database
Driver              = PostgreSQL
Database            = barrier
Servername          = db
UserName            = odoo
Password            = odoo
Port                = 5432
Protocol            = 9.6
ReadOnly            = No
RowVersioning       = No
ShowSystemTables    = No
ShowOidColumn       = No
FakeOidIndex        = No
ConnSettings        =
